<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	
	<ul class="prdList grid4 move_Bottom_In_product">
		<li class="xans-record-">
            <div class="thumbnail">
                <div class="prdImg">
                    <a href="/product/19차-예약-odd-cat-case/547/category/24/display/1/" name="anchorBoxName_547"><img src="//bloomingtale.co.kr/web/product/medium/202305/64c82fc30fbccc5ed76dfa7ace6e2ca4.png" id="eListPrdImage547_1" alt="[19차 예약] ODD CAT case"><img src="//bloomingtale.co.kr/web/product/tiny/202305/6d6f4aaed695d1fe5b77fe54a86ea419.png" id="eListPrdImage547_1" alt="[19차 예약] ODD CAT case" class="toggle_img"></a>
                </div>
            </div>
            <div class="description">
                <span class="chk"><input type="checkbox" class="ProductCompareClass xECPCNO_547 displaynone"></span>
                <p class="name  "><a href="/product/19차-예약-odd-cat-case/547/category/24/display/1/"><span style="font-size:12px;color:#555555;">[19차 예약] ODD CAT case</span></a></p>
                <p class="custom displaynone"><strike>0원</strike></p>
                <p class="price  ">21,000원<span class="displaynone"></span></p>    
                <p class="price sale "></p>
                <p class="summary">블루밍테일의 ODD CAT case 입니다.</p>
                <p class="simple"></p>
                <div class="promotion"><img src="//img.echosting.cafe24.com/design/skin/admin/ko_KR/ico_product_soldout.gif" class="icon_img" alt="품절">      </div>
            </div>    
        </li>
    </ul>
	
</body>
</html>