<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Framework</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	
</head>
<style>
	/* 상단 오른쪽 로그인정보 */
    #top {
      position: fixed;
      display: flex;
      top: 10px;
      right: 50px;
    }
</style>
<body>
	카테고리목록
	<div id="top">
		<h6><span th:text="${session.loginss.name}"></span>님｜<a href="admin_logout" style="text-decoration:none;color:inherit;">로그아웃</a></h6>
	</div>
	<div>
		<a href="category_add">카테고리 등록</a>
	</div>
	<table>
	  <thead>
	    <tr>
	      <th>Category Code</th>
	      <th>Name</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!-- 데이터를 반복해서 출력 -->
	    <th:block th:each="cate : ${pageResult.content}">
	      <tr>
	        <td th:text="${cate.cateCode}"></td>
	        <td th:text="${cate.cateName}"></td>
	        <td>
	        	<a th:href="@{/category_delete(cateCode=${cate.cateCode})}" class="btn"><i class="fas fa-minus"></i></i></a>
	        </td>
	      </tr>
	    </th:block>
	  </tbody>
	</table>
	<div>
		<a href="adminmain" class="btn btn-outline-secondary">관리자 메뉴</a>
		<a href="/" class="btn btn-outline-secondary">홈페이지</a>
	</div>
</body>
</html>